<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyScreenCaptureUsageDescription</key>
	<string>WarcraftRecorder a besoin d&apos;enregistrer l&apos;écran pour capturer vos parties de WoW.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>L&apos;application a besoin d&apos;accéder aux processus système pour détecter World of Warcraft.</string>
	<key>Privacy - Screen Recording Usage Description</key>
	<string>L&apos;application a besoin d&apos;accéder aux processus d&apos;enregistrement écran pour enregistrer World of Warcraft.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSAppleEventsUsageDescription</key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
